.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
  transition: background 0.7s;
}
// .left {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   gap: 2;
//   min-width: 160px;
// height: auto;
.title {
  font-weight: bold;
  font-size: px;
  color: rgb(115, 115, 115);
  width: 150px;
  height: 60px;
}

.counter {
  font-size: 28px;
  font-weight: 300;
  color: rgb(48, 45, 45);

  // margin-left: 80px;
  // margin-top: 50px;
}

.link {
  width: max-content;
  font-size: 12px;
  border-bottom: 1px solid gray;
  margin-left: 80px;
}

.percentage {
  display: flex;
  align-items: center;
  font-size: 14px;
  &.positive {
    color: green;
  }
  &.negative {
    color: red;
  }
}

.icon {
  size: 40px;
  font-size: 40px;
  padding: 5px;
  border-radius: 5px;
  align-self: flex-end;
  min-height: 40px;
  min-width: 40px;
}
// }
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 120px;
  .title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
    // width: 150px;
    // height: 60px;
  }

  .counter {
    font-size: 28px;
    font-weight: 300;
  }

  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }

  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;
    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }

  .icon {
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
  }
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // width: 120px;
  .title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }

  .counter {
    font-size: 28px;
    font-weight: 300;
    margin-top: 50px;
  }

  .link {
    width: max-content;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }

  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }

  .icon {
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    align-self: flex-end;
  }
}
// .widget:hover {
//   background: #e5e3e3 radial-gradient(circle, transparent 1%, #d3d3d3 1%)
//     center/15000%;
// }
.widget:hover {
  background: #bbe2fa radial-gradient(circle, transparent 1%, #e5e3e3 1%)
    center/15000%;
}

.widget:active {
  background-color: #87cefa;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(238, 234, 234);
  background-color: #f3f1f1e7;
  box-shadow: 0 0 4px #999;
  outline: none;
}
/* .ripple {
  background-position: center;
  transition: background 0.8s;
} */
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
